<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>


<body class="text-center">
    <%- include('partials/header.ejs'); %>
    <div class="d-flex justify-content-center">
        <form class="form-signin" action="<%= signupUrl %>" method="POST">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            <input type="text" name="username" class="form-control mb-2" placeholder="Enter your username" style="height: 30px;">
            <input type="password" name="password" class="form-control mb-2" placeholder="Enter your password" style="height: 30px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up </button>
        </form>
    </div>
        <%- include('partials/footer.ejs'); %>
</body>

</html>

